

  
.veg {
    padding-top: 200px;
    
    text-align: center;
    }
  
  #ses {
  
   
  background-image: url("https://www.quotemaster.org/images/c6/c63637710ffc1951c38efe94c87554ce.jpeg");
  background-repeat: no-repeat;
  position: sticky;
    
   
   
    
  }
  
  .form{
    text-align: center;
   
  }